:root{
  --Orange: #ff7d1a;
  --Pale-orange: hsl(25, 100%, 94%);
  --Very-dark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --lightbox-bg: hsla(0, 0%, 0%, 0.75);

  --mar-x: 10.3rem;
  --header-height: 110px;
}
@font-face {
  font-family: 'kumbah-sans';
  src: url(./Kumbh_Sans/KumbhSans-VariableFont_YOPQ\,wght.ttf);
}

body{
  margin: 0;
  font-family: 'kumbah-sans', sans-serif;
  padding-bottom: 100px;
}
a{
  text-decoration: none;
  color: var(--Very-dark-blue);
}
button{
  font-family: 'kumbah-sans', sans-serif;
}

.wrapper{
  max-width: 1440px;
}


/* -------------------------------------- header styles -------------------------------------- */
header {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  align-items: center;
  align-content: center;
  margin-inline: var(--mar-x);
  height: var(--header-height);
  border-bottom: 1px solid var(--Grayish-blue);
  column-gap: 46px;
}
header .logo{
  padding-right: 10px;
}
header :is(.logo, .menu-icon, nav .close-icon, .cart img, .profile){
  cursor: pointer;
}
header nav ul{
  padding: 0;
  margin: 0 0 5px 0;
  list-style-type: none;
  display: flex;
  column-gap: 2.1rem;
}
header nav ul li a{
  font-size: 15px;
  color: var(--Dark-grayish-blue);
  position: relative;
  display: flex;
  justify-content: center;
}
header nav ul li a:hover::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--Orange);
  top: 65px;
}
header .menu-icon,
header nav .close-icon{
  display: none;
}
header .cart {
  position: relative;
  display: flex;
  justify-content: center;
}
header .cart .cart-icon{
  position: relative;
}
header .cart .cartItems {
  display: none;
}
header .cart .cartItems.show{
  display: block;
  background-color: #fff;
  position: absolute;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  top: 50px;
  right: -170px;
  width: 360px;
  border-radius: 8px;
  z-index: 3;
}
header .cart .cartItems > p {
  margin: 20px 24px 28px 24px;
  font-weight: 700;
}
header .cart .cartItems .items{
  min-height: 188px;
  border-top: 1px solid var(--Grayish-blue);
  display: grid;
  place-items: center;
  padding-inline: 1.5rem;
  padding-block: 24px 32px;
  box-sizing: border-box;
}
header .cart .cartItems .items .item{
  display: none;
}
header .cart .cartItems .items .item .remove img{
  padding-right: 0;
}
header .cart .cartItems .items .placeholder{
  font-weight: 600;
  margin-block: 0 4px;
}
header .cart .cartItems  .checkout{
  display: none;
}
header .cart.has-items .cartItems .items{
  place-items: revert;
  min-height: fit-content;
}
header .cart.has-items .cart-icon::after{
  content: attr(data-count);
  position: absolute;
  background-color: var(--Orange);
  width: 20px;
  top: -10px;
  left: 10px;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .cart.has-items .cartItems .items .item{
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 16px;
  margin-bottom: 22px;
  align-items: center;
  height: fit-content;
}
header .cart.has-items .cartItems .items .item .img img{
  width: 50px;
  border-radius: 4px;
  padding-right: 0;
  cursor: auto;
}
header .cart.has-items .cartItems .items .item .info .product-name{
  margin: 0;
}
header .cart.has-items .cartItems .items .item .info .total{
  margin: 6px 0;
  letter-spacing: .5px;
  & .price,
  & .total-count{
    margin-right: 1px;
  }
  & .total-amount{
    font-weight: 700;
  }
}
header .cart.has-items .cartItems .items{
  align-items: revert;
}
header .cart.has-items .cartItems .items .placeholder{
  display: none;
}
header .cart.has-items .cartItems .items .checkout{
  display: revert;
  width: 100%;
  height: 55px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
  background-color: var(--Orange);
  &:is(:hover, :focus){
    filter:brightness(1.5);
  }
}
header .profile img{
  outline: 2px solid transparent;
  border-radius: 50%;
  width: 50px;
}
header .profile img:is(:hover, :focus){
  outline-color: var(--Orange);
}




/* -------------------------------------- main styles -------------------------------------- */

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-inline: calc(var(--mar-x) + 3rem);
  padding-block: 5.75rem 0;
  column-gap: 7.75rem;
}
main .image-gallery{
  width: 445px;
}
main dialog.image-gallery{
  position: relative;
  width: 500px;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 30px 20px;
}
main dialog.image-gallery .close{
  position: absolute;
  top: 5px;
  right: 20px;
  cursor: pointer;
}
main dialog.image-gallery .close:hover{
  filter: invert(69%) sepia(85%) saturate(3760%) hue-rotate(345deg) brightness(100%) contrast(105%);
}
main dialog.image-gallery::backdrop{
  background-color: black;
  opacity: .85;
}
main .image-gallery .main-image{
  width: 100%;
  margin-bottom: 1.5rem;
}
main dialog.image-gallery .main-image{
  display: flex;
  align-items: center;
  position: relative;
}
main .image-gallery .main-image img.selected{
  width: 100%;
  border-radius: 1rem;
}
main .image-gallery .main-image img:not(.selected){
  display: none;
}
main dialog.image-gallery .main-image .arrow{
  position: absolute;
  background-color: #fff;
  padding: 8px 10px;
  display: block;
  border-radius: 50%;
  cursor: pointer;
}
main dialog.image-gallery .main-image .arrow.left{
  left: -20px;
  transform: rotate(180deg);
}
main dialog.image-gallery .main-image .arrow.right{
  right: -20px;
}
main .image-gallery .thumbnails{
  width: 100%;
  display: flex;
  justify-content: space-between;
  column-gap: 8px;
  width: 100%;
  
}
main dialog.image-gallery .thumbnails{
  justify-content: space-around;
}
main .image-gallery .thumbnails img{
  width: clamp(50px, 100%, 86px);
  height: auto;
  border-radius: 12px;
  border: 3px solid transparent;
  cursor: pointer;
}

main .image-gallery .thumbnails img:hover,
main .image-gallery .thumbnails img.selected{
  border-color: var(--Orange);
  filter: opacity(.8) brightness(1.1);
}

main .product-details{
  padding-top: 3rem;
  
}
main .product-details .company{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  margin-bottom: 18px;
  color: var(--Dark-grayish-blue);
}
main .product-details h1{
  font-size: 2.75rem;
  margin-top: 0;
  line-height: 112%;
  margin-bottom: 36px;
  line-height: 112%;
}
main .product-details .description{
  line-height: 160%;
  color: var(--Dark-grayish-blue);
  margin-bottom: 22px;
}
main .product-details .price{
  font-size: 1.875rem;
  margin-top: 0;
  font-weight: 700;
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: end;
  margin-bottom: 36px;
  gap: 10px 16px;
}
main .product-details .price .discount{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Very-dark-blue);
  color: white;
  font-size: 1rem;
  width: 51px;
  height: 27px;
  border-radius: 8px;
  margin-bottom: 2px;
}
main .product-details .price .old-price{
  color: var(--Dark-grayish-blue);
  text-decoration: line-through;
  font-weight: 700;
  font-size: 1rem;
  margin-block: 0;
}
main .btns{
  display: grid;
  grid-template-columns: minmax(130px, 158px) minmax(160px, 1fr);
  gap: 16px;
}
main .btns button{
  height: 55px;
  border-radius: 8px;
  font-weight: 700;
  border: none;
  padding-inline: 16px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
main .btns .count-btn{
  justify-content: space-between;
  background-color: var(--Light-grayish-blue);
}
main .btns .count-btn img{
  cursor: pointer;
  padding: 5px 0;
}
main .btns .count-btn img:hover{
  filter:brightness(1.5);
}
main .btns .addToCart{
  justify-content: center;
  background-color: var(--Orange);
  column-gap: 16px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}
main .btns .addToCart img{
  width: 18px;
  filter: brightness(.1);
}
main .btns .addToCart:is(:hover, :focus){
  filter:brightness(1.5);
}






/* -------------------------------------- media queries -------------------------------------- */

@media (min-width: 1440px) {
  .wrapper{
    margin: 0 auto;
  }
}

@media (max-width: 1250px) {
  :root{
  --mar-x: 5.5rem;
  }
  header .cart .cartItems.show{
    right: -110px;
  }
  header .logo{
    padding: 0;
  }
  main{
    column-gap: 4rem;
    margin-inline: 6.5rem;
  }
}
@media (max-width: 1000px) {
  :root{
    --mar-x: 3rem;
  }
  header nav ul{
    column-gap: 1rem;
  }
  header .cart .cartItems.show{
    right: -95px;
  }
  main{
    column-gap: 3rem;
    margin-inline: 4rem;
  }
  main div.image-gallery{
    width: 380px;
  }
  main dialog.image-gallery{
    width: 550px;
  }
  main .product-details{
    padding-top: 1.5rem;
  }
}
@media (max-width: 925px){
  main{
    margin-inline: auto;
    grid-template-columns: 1fr;
    width: clamp(280px, 100%, 500px);
  }
  main div.image-gallery{
    width: 100%;
  }
}
@media (max-width: 800px) {
  :root{
    --mar-x: 1.25rem;
    --header-height: 66px;
  }
  header{
    column-gap: 28px;
  }
  header nav{
    padding: 23px 1.5rem;
    position: fixed ;
    z-index: 10;
    background-color: #fff;
    outline: 1px solid;
    top: 0;
    left: -100%;
    height: 100%;
    width: clamp(200px, 50%, 300px);
    transition: left .3s;
  }
  header nav.show {
    left: 0;
  }
  header nav .close-icon{
    display: block;
    margin-bottom: 48px;
  }
  header nav ul{
    flex-direction: column;
    row-gap: 24px;
  }
  header nav ul li a{
    font-weight: 700;
    font-size: 18px;
    width: fit-content;
    margin: 0 auto;
  }
  header nav ul li a:hover::after{
    top: 30px;
  }
  header .menu-icon{
    display: revert;
    padding-inline: .25rem 0;
  }
  header .cart .cartItems.show{
    top: 42px;
    right: -55px;
  }
  
  header .cart .cart-icon{
    width: 22px;
    margin-right: 6px;
  }
  header .profile img{
    width: 24px;
    padding-right: 4px;
  }
  main{
    padding-block: 3rem 1rem;
  }
  main .product-details{
    padding: 8px 1.5rem;
    box-sizing: border-box;
  }
  main .image-gallery{
    padding: 0px 1.5rem;
    box-sizing: border-box;
  }
  
}
@media (max-width: 500px) {
  header{
    column-gap: 16px;
  }
  header .cart .cartItems.show{
    top: 56px;
    right: -55px;
  }
  main{
    padding: 0;
  }
  main .image-gallery{
    padding: 0;
  }
  main .image-gallery .main-image{
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }
  main .image-gallery .main-image img.selected{
    border-radius: 0;
    object-fit: cover;
  }
  main .image-gallery .main-image .arrow{
    position: absolute;
    background-color: #fff;
    padding: 10px 12px;
    margin-top: 5px;
    border-radius: 50%;
    cursor: pointer;
  }
  main .image-gallery .main-image .arrow.left{
    display: block;
    left: 16px;
    transform: rotate(180deg);
  }
  main .image-gallery .main-image .arrow.right{
    display: block;
    right: 18px;
  }
  main .image-gallery .thumbnails{
    display: none;
  }
  main .product-details .company{
    letter-spacing: 1.75px;
    font-size: 12px;
    margin-bottom: 12px;
  }
  main .product-details h1{
    font-size: 1.75rem;
    margin-bottom: .7em;
  }
  main .product-details .description{
    font-size: .94rem;
    margin-bottom: 26px;
  }
  main .product-details .price{
    grid-template-columns: max-content max-content 1fr;
    align-items: end;
    margin-bottom: 22px;
  }
  main .product-details .price .discount{
    margin-bottom: 4px;
  }
  main .product-details .price .old-price{
    margin-block: 0;
    justify-self: end;
    align-self: center;
    letter-spacing: 1px;
    font-size: 15px;
  }
  main .btns{
    grid-template-columns: 1fr;
    row-gap: 18px;
  }
  main .btns .count-btn{
    padding: 0 24px;
    font-size: 1rem;
  } 
}
@media (max-width: 395px) {
  header .cart .cartItems.show{
    width: 95vw;
  }
  .main-image img.selected{
    height: 301px;
  } 
  header .cart .cartItems .items{
    padding: 1.5rem;
  }
  header .cart.has-items .cartItems .items .item{
    column-gap: 16px;
  }
  header .cart.has-items .cartItems .items .item .info .product-name{
    font-size: .9rem;
  }
  header .cart.has-items .cartItems .items .item .info .total{
    font-size: 14px;
  }
}